body{
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Header styles */
.header{
    background-color:#1F2937;
    color: white;
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

li{
    list-style: none;
    display: inline;
}

.container{
    padding: 0px; 
    margin: 0px;
    max-width: 1200px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap: 20px;
}


/* Hero section styles */

.hero-content{
    background-color: #1F2937;
    padding: 50px;
    color: white;
    display: flex; 
}

.hero-text{
    flex: 1;
    padding: 20px;
    text-align: left;
}

.hero-image{
    flex: 1;
    padding: 20px;
    width: 100%;
    /*max-width: 400px;*/
}

.hero-button{
    background-color: #3B82F6;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    margin-top: 2px;
}